# Nix
.direnv

# Netlify
.netlify

# Nitro
.nitro

# NodeJS
node_modules

# Tanstack 
.tanstack
dist

# TypeScript
*.tsbuildinfo

# Persisted State (Development)
chats

# Environment Variables
.env
.env.*
!.env.example